body{
    background: url(fondo.jpg) #CCC no-repeat;
    background-size: cover;
    background-position:center center;
    background-attachment: fixed;
}

h2{
    font-size:5em;
    color: #fff;
    position:absolute;
    top:95%;
    left:50%;
    transform: translateX(-50%) translateY(-5%);
    white-space: nowrap;

}

h3{
    font-size: 3em;
    text-align: center;
}

.abajo{
    margin:0;
    padding:0;
    text-align:end;
    position:absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-25%);
}

.forma{
    width:400px;
    background:#24303c;
    padding:30px;
    margin:auto;
    margin-top:100px;
    border-radius:4px;
    font-family:'calibri';
    color:white;
}

.control{
    width:100%;
    background: #24303c;
    color:white;
}

.forma .boton{
    width:100%;
    background:#1f53c5;
    border:none;
    color:white;
    padding:12px;
    margin:16px 0;
    font-size:16px;
}

.boton2{
    
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}






